
/*csslint order-alphabetical: false*/

.fo-menu {
    height: 80px;
    background-color: aqua;
}


/*ez a fo-menu classon belüli menüpont classokat választja ki*/

.fo-menu .menupont {
    height: 40px;
/*    körbe mindenhol 10px a margin*/
/*    margin: 10px;*/
/*    ezt a három sort lehet írni rövíditve is*/
/*    margin-left: 10px;*/
/*    margin-top: 10px;*/
/*    margin-bottom: 10px;*/
    margin:10px 0 10px 10px;  /*fölül, jobbra, alul, balra*/
    
    background-color: blue;
    color: white;
/*    ez a property megváltoztatja a html elem alapéretlmezett működését, jelen esetben*/
/*    egy block szintű elem (div)-ből inline elemet csinál, de a block tulajdonságait is megőrzi.*/
/*    azaz, reagálni fog az elem a width, és height paraméterekre*/
/*    read more: https://www.w3schools.com/css/css_inline-block.asp*/
    display: inline-block;
    
    
/*    padding-top: 22px;*/
/*    padding-left: 10px;*/
/*    padding-right: 10px;*/
    
    /*az előző három sor rövidítve így néz ki: */
    padding: 22px 10px 0 10px; /*fölül, jobbra, alul, balra*/
    
}
.al-menu {
    margin-top: 20px;
/*    jobbra rendezzük az almenüt*/
    float: right;
       
}

.al-menu .menupont{
    margin-left: 10px;
    display: inline-block;
    text-decoration: underline;
      
}
/*ha a menüpont fölé visszuk az egeret, akkor bekékül az adott pont*/
/*touch-screen-en nincs hover!!*/

.al-menu .menupont:hover {
    color: blue;
/*    átalakítja az egér mutatóját a kézre*/
    cursor: pointer;
    text-decoration: underline;
}




.tartalom {
    background-color: lightgrey;
    height: 1000px;
    margin-top: 40px;
    /*ez csak azért kell hogy a scrollbar megjelenjen*/
/*    bizonyos css property-ket nem ajánlott használni, mert nem mindig böngésző ismeri. Ezt a caniuse.com oldalon ellenőrizhetjük*/
/*    pl a zoom nem működik firefoxban!!*/
/*    https:// caniuse.com/#search=zoom*/
/*    zoom: 0.5;*/
    
    
}

/*#learnabout box-modell https://www.w3schools.com/css/css_boxmodel.asp*/

.fixed-doboz{
    
    width: 200px;
    height: 50px;
    background-color: blue;
    color: white;
/*    a position fixed, kiszedi az elemet a document flowból, és egy fix helyre beteszi*/
/*    a többi elem számára ez az elem nem lesz látható*/
    position: fixed;
/*    ezek csak akkor működnek ha a position: fixed be van állítva*/
/*    top: 0;*/
/*    right: 0;*/
    
}



