
/*csslint order-alphabetical: false*/

.fo-menu {
    height: 80px;
    background-color: aqua;
}

.menupont {
    height: 40px;
/*    körbe mindenhol 10px a margin*/
/*    margin: 10px;*/
/*    ezt a három sort lehet írni rövíditve is*/
/*    margin-left: 10px;*/
/*    margin-top: 10px;*/
/*    margin-bottom: 10px;*/
    margin:10px 0 10px 10px;  /*fölül, jobbra, alul, balra*/
    
    background-color: blue;
    color: white;
    display: inline-block;
    
    
/*    padding-top: 22px;*/
/*    padding-left: 10px;*/
/*    padding-right: 10px;*/
    
    /*az előző három sor rövidítve így néz ki: */
    padding: 22px 10px 0 10px; /*fölül, jobbra, alul, balra*/
    
}

.tartalom {
    background-color: lightgrey;
    height: 1000px; /*ez csak azért kell hogy a scrollbar megjelenjen*/
/*    bizonyos css property-ket nem ajánlott használni, mert nem mindig böngésző ismeri. Ezt a caniuse.com oldalon ellenőrizhetjük*/
/*    pl a zoom nem működik firefoxban!!*/
/*    https:// caniuse.com/#search=zoom*/
/*    zoom: 0.5;*/
    
    
}

/*#learnabout box-modell https://www.w3schools.com/css/css_boxmodel.asp*/


